@import "tailwindcss";

@font-face {
   font-family: small;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
}
@font-face {
   font-family: s2;
   src: url(../fonts/GEIST-MEDIUM.TTF);
}
@font-face {
   font-family: s3;
   src: url(../fonts/LibreCaslonText-Italic.ttf);
}
/* @font-face {
   font-family: s3;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
}
@font-face {
   font-family: s4;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
}
@font-face {
   font-family: s5;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
} */
.customFlex{
   display: flex;
   align-items: center;
   justify-content: center;
}

div{
   /* outline: 1px solid pink; */
}

.space{
   width: full;
   height: 10vw;
   /* background: red; */
}

p{
   
   text-transform: uppercase;
   font-size: 1vw;
   line-height: 1vw;
   
}

h1{
   color: #cccccc;
   font-family: s2;
   font-weight: 500;
   font-size: 6vw;
   line-height: 5.5vw;
   text-transform: uppercase;
}


h2{
   color: #cccccc;
   font-family: s3;
   font-weight: 500;
   font-size: 4vw;
   line-height: 3.5vw;
   text-transform: capitalize;
   font-style: italic;
}