@import "tailwindcss";

@font-face {
   font-family: small;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
}
@font-face {
   font-family: s2;
   src: url(../fonts/GEIST-MEDIUM.TTF);
}
@font-face {
   font-family: s3;
   src: url(../fonts/LibreCaslonText-Italic.ttf);
}
/* @font-face {
   font-family: s3;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
}
@font-face {
   font-family: s4;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
}
@font-face {
   font-family: s5;
   src: url(../fonts/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF);
} */
.customFlex{
   display: flex;
   align-items: center;
   justify-content: center;
}

div{
   /* outline: 1px solid pink; */
}

.space{
   width: full;
   height: 10vw;
   /* background: red; */
}

p{
   
   text-transform: uppercase;
   font-size: 1vw;
   line-height: 1vw;
   
}

h1{
   color: #cccccc;
   font-family: s2;
   font-weight: 500;
   font-size: 6vw;
   line-height: 5.5vw;
   text-transform: uppercase;
}


h2{
   color: #cccccc;
   font-family: s3;
   font-weight: 500;
   font-size: 4vw;
   line-height: 3.5vw;
   text-transform: capitalize;
   font-style: italic;
}




:root {
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
  --duration-default: 0.535s;
  --animation-default: var(--duration-default) var(--cubic-default);
}

.button {
  position: relative;
  display: inline-flex;
  padding: 1em 2em;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.u--clip {
  overflow: hidden;
}

.u--rel {
  position: relative;
  z-index: 2;
}

.p-reg {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

.button-bg {
  position: absolute;
  inset: 0;
  border-radius: 100px;
  z-index: 1;
  background-color: #efeeec;
  transition: transform var(--animation-default), background-color 0.1s ease-in-out;
}

.secondary .button-bg {
  background-color: transparent;
  border: 1px solid #efeeec;
}

.button p {
  text-shadow: 0px 1.25em currentColor;
  color: #131313;
}

.secondary p {
  color: #efeeec;
}

.button:hover .button-bg {
  transform: scale(0.95);
}

.button .single-letter {
  display: inline-block;
  position: relative;
}
